<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Appointement</title>
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <h2>App</h2>
        <ul>
            <li id="info">
                <a id="show">User</a>
                <div class="hide-user" id="user">
                    <div><a asp-action="GetUserInfo" asp-controller="Account">User</a></div>
                    <div><a asp-action="ChangePassword" asp-controller="Account">Change Password</a></div>
                    <div><a asp-action="Logout" asp-controller="Account">Logout</a></div>
                </div>
            </li>
            <li>@User.Identity.Name <i class="fa-solid fa-user"></i></li>
        </ul>
        
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
