@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<link href="~/css/signin.css" rel="stylesheet" />

<div class="main-form">
    <form asp-action="ChangePassword" asp-controller="Account" method="post" autocomplete="off">
        <div class="danger" asp-validation-summary="ModelOnly"></div>
        <label asp-for="OldPassword">OldPassword:</label>
        <input asp-for="OldPassword" class="email" placeholder="OldPassword..." />
        <span class="danger" asp-validation-for="OldPassword"></span>

        <label asp-for="NewPassword">NewPassword:</label>
        <input asp-for="NewPassword" class="email" placeholder="NewPassword..." />
        <span class="danger" asp-validation-for="NewPassword"></span>

        <label asp-for="ConfirmPassword">ConfirmPassword:</label>
        <input asp-for="ConfirmPassword" class="email" placeholder="ConfirmPassword..." />
        <span class="danger" asp-validation-for="ConfirmPassword"></span>

        <div>
            <button type="submit" title="save" class="btn">save</button>
        </div>
    </form>
</div>

